<!-- 商品规格属性模板 -->

<script id="tpl_spec_attr" type="text/template">
    <% for(var j=0;j< spec_attr.length;j++){ %>
    <div class="spec-group-item" data-index="<%=j%>" data-group-id="<%=spec_attr[j].group_id%>">
        <div class="spec-group-name">
            <span><%=spec_attr[j].group_name%></span>
            <i class="spec-group-delete fa fa-trash icon-shanchu1" title="点击删除"></i>
        </div>
        <div class="spec-list am-cf">
            <% for(var k=0;k<spec_attr[j].spec_items.length;k++){ %>
            <div class="spec-item am-fl" data-item-index="<%=k%>">
                <span><%=spec_attr[j].spec_items[k].spec_value%></span>
                <i class="spec-item-delete fa fa-trash icon-shanchu1" title="点击删除"></i>
            </div>
            <% } %>
            <div class="spec-item-add am-cf am-fl">
                <input type="text" class="ipt-specItem am-fl am-field-valid">
                <button type="button" class="btn-addSpecItem btn btn-xs btn-success am-fl">添加</button>
            </div>
        </div>
    </div>
    <% } %>
</script>

<!-- 商品规格table模板 -->
<script id="tpl_spec_table" type="text/template">
    <tbody>
    <tr>

        <% for(var i=0;i< spec_attr.length;i++){ %>
            <th><%=spec_attr[i].group_name%></th>
        <% } %>
        <% if(marketing_type){ %>
<!--        <th>商品编码</th>-->
        <th>销售价</th>

        <th>活动价</th>
<!--        <th>重量(kg)</th>-->
        <th>划线价</th>
        <th>限购数</th>
        <th>库存</th>
        <%}else{%>
<!--        <th>商品编码</th>-->
        <th>销售价</th>
        <th>vip价</th>
        <th>划线价</th>
        <th>满减数量</th>
        <th>满减价</th>

       <!-- -->
<!--        <th>重量(kg)</th>-->
        <th>库存</th>

        <th>规格封面</th>
        <th>封面编辑</th>
        <%}%>

    </tr>
    <% for(var i=0;i<spec_list.length;i++){ %>
    <tr data-index="<%=i%>" data-sku-id="<%=spec_list[i].spec_sku_id %>">
        <% for(var k=0;k<spec_list[i].rows.length;k++){ %>
        <td class="td-spec-value am-text-middle" rowspan="<%=spec_list[i].rows[k].rowspan%>">
            <%=spec_list[i].rows[k].spec_value%>
        </td>
        <% } %>

        <!--团购的规格-->
        <% if(marketing_type){ %>
       <!-- <td> &lt;!&ndash;商品编码&ndash;&gt;
            <input <% if(spec_list[i].form.stock_num===-1) {%> disabled <%}else{%>  <%} %> type="text" name="goods_no" value="<%=spec_list[i].form.goods_no%>" class="ipt-goods-no am-field-valid">
        </td>-->


        <td><!--商品价格-->
            <input  <% if(spec_list[i].form.stock_num===-1) {%> disabled <%}else{%>  <%} %>  type="number" name="goods_price" data-rule="required" value="<%=spec_list[i].form.goods_price%>" class="am-field-valid ipt-w80"
            required>
        </td>

        <td><!--团购价格-->
            <input  <% if(spec_list[i].form.stock_num===-1) {%> disabled <%}else{%>  <%} %>  type="number" name="marketing_price" data-rule="required" value="<%=spec_list[i].form.marketing_price > 0 ? spec_list[i].form.marketing_price : ''%>" class="am-field-valid ipt-w80" required>
        </td>

<!--        <td>&lt;!&ndash;重量&ndash;&gt;-->
<!--            <input <% if(spec_list[i].form.stock_num===-1) {%>disabled  <%}else{%>  <%} %> type="number" name="goods_weight" value="<%=spec_list[i].form.goods_weight%>" class="am-field-valid ipt-w80"-->
<!--            required>-->
<!--        </td>-->
        <td>
          <input <% if(spec_list[i].form.stock_num===-1) {%> disabled <%}else{%>  <%} %> type="number" name="line_price" value="<%=spec_list[i].form.line_price%>" class="am-field-valid ipt-w80">
         </td>

        <td><!--限购-->
            <input <% if(spec_list[i].form.stock_num===-1) {%>disabled  <%}else{%>  <%} %> type="number" name="upper_num"  value="<%=spec_list[i].form.upper_num%>" class="am-field-valid ipt-w80" required>
        </td>
        <td><!--库存-->
            <input <% if(spec_list[i].form.stock_num===-1) {%>disabled  <%}else{%>  <%} %> type="number" name="stock_num" data-rule="required" value="<%=spec_list[i].form.stock_num%>" class="am-field-valid ipt-w80" required>
        </td>

        <% }else{%>

        <<!--td> &lt;!&ndash;商品编码&ndash;&gt;
            <input <% if(spec_list[i].form.stock_num===-1) {%> disabled <%}else{%>  <%} %> type="text" name="goods_no" value="<%=spec_list[i].form.goods_no%>" class="ipt-goods-no am-field-valid">
        </td>-->
        <td><!--商品价格-->
            <input  <% if(spec_list[i].form.stock_num===-1) {%> disabled <%}else{%>  <%} %>  type="number" name="goods_price" data-rule="required" value="<%=spec_list[i].form.goods_price%>" class="am-field-valid ipt-w80"
                   required>
        </td>

        <td><!--会员价-->
            <input <% if(spec_list[i].form.stock_num===-1) {%> disabled <%}else{%>  <%} %> type="number" name="vip_price" value="<%=spec_list[i].form.vip_price%>" class="am-field-valid ipt-w80">
        </td>
        <td><!--划线价-->
            <input <% if(spec_list[i].form.stock_num===-1) {%> disabled <%}else{%>  <%} %> type="number" name="line_price" value="<%=spec_list[i].form.line_price%>" class="am-field-valid ipt-w80">
        </td>
        <td><!--数量-->
            <input <% if(spec_list[i].form.stock_num===-1) {%> disabled <%}else{%>  <%} %> type="number" name="nums" value="<%=spec_list[i].form.nums%>" class="am-field-valid ipt-w80">
        </td>
        <td><!--满减价格-->
            <input <% if(spec_list[i].form.stock_num===-1) {%> disabled <%}else{%>  <%} %> type="number" name="new_price" value="<%=spec_list[i].form.new_price%>" class="am-field-valid ipt-w80">
        </td>
<!--        <td>&lt;!&ndash;重量&ndash;&gt;-->
<!--            <input <% if(spec_list[i].form.stock_num===-1) {%>disabled  <%}else{%>  <%} %> type="number" name="goods_weight" value="<%=spec_list[i].form.goods_weight%>" class="am-field-valid ipt-w80"-->
<!--            required>-->
<!--        </td>-->
        <%=spec_list[i].form.line_price%>
        <%=spec_list[i].form.line_price%>
        <%=spec_list[i].form.line_price%>

        <td><!--库存-->
            <input <% if(spec_list[i].form.stock_num===-1) {%>disabled  <%}else{%>  <%} %> type="number" name="stock_num" data-rule="required" value="<%=spec_list[i].form.stock_num%>" class="am-field-valid ipt-w80" required>
        </td>


        <td><!--图片-->
            <input <% if(spec_list[i].form.stock_num===-1) {%> disabled <%}else{%>  <%} %>  id="c-image<%=i%>" class="form-control form-control" style="display: none!important;" name="spec_image" type="text" value="<%=spec_list[i].form.spec_image%>">
            <div class="row list-inline plupload-preview spe_img_one" id="p-image<%=i%>"></div>
        </td>
        <td>
            <div class="input-group-addon no-border no-padding" style="background-color: #ffffff">
                <span><button type="button" id="plupload-image<%=i%>" style="display: none!important;" class="btn btn-danger plupload" data-input-id="c-image<%=i%>" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="false" data-preview-id="p-image<%=i%>"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                <span><button type="button" <% if(spec_list[i].form.stock_num===-1) {%> disabled <%}else{%>  <%} %> id="fachoose-image<%=i%>" class="btn btn-primary fachoose" data-input-id="c-image<%=i%>" data-mimetype="image/*" data-preview-id="p-image<%=i%>" data-multiple="false"><i class="fa fa-list"></i> {:__('Choose')}</button></span>
            </div>
        </td>
        <%}%>
    </tr>
    <% } %>
    </tbody>
</script>



