<form id="add-form" class="form-horizontal form-ajax" role="form" data-toggle="validator" method="POST" action="">
    <input type="hidden" name="row[goods_spec_id]" value="{$row.goods_spec_id}"/>
    <input type="hidden" name="row[cut_down_id]" value="{$cut_down_id}"/>
    <input type="hidden" name="row[goods_id]" value="{$goods_id}"/>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Goodsprice')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" class="form-control" readonly id="title" name="row[goods_price]" value="{$row.goods_price}" data-rule="required;goods_price"/>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Keyname')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" class="form-control" readonly id="key_name" name="row[key_name]" value="{$row.key_name}" data-rule="required;key_name"/>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Lineprice')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" class="form-control" readonly id="line_price" name="row[line_price]" value="{$row.line_price}" data-rule="required;line_price"/>
        </div>
    </div>

    
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Discountprice')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" class="form-control"  name="row[discount_price]" value=""  />
        </div>
    </div>

    <div class="form-group">
        <label for="highest_price" class="control-label col-xs-12 col-sm-2">{:__('Highest_price')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" id="highest_price" class="form-control"  name="row[highest_price]" value=""  />
        </div>
    </div>

    <div class="form-group">
        <label for="floor_price" class="control-label col-xs-12 col-sm-2">{:__('Floor_price')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" id="floor_price" class="form-control"  name="row[floor_price]" value=""/>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Stock_num')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" class="form-control" readonly  name="row[stock_num]" value="{$row.stock_num}"/>
        </div>
    </div>


   <div class="form-group" style="display:none;">
        <label for="stock" class="control-label col-xs-12 col-sm-2">{:__('Stock')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" id="stock" class="form-control"  name="row[stock]" value="{$row.stock_num}"/>
        </div>
    </div>

    <div class="form-group">
        <label for="stock" class="control-label col-xs-12 col-sm-2">{:__('Minprice')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" id="min_price" class="form-control"  name="row[min_price]" value=""/>
        </div>
    </div>

    <div class="form-group hidden layer-footer">
        <div class="col-xs-2"></div>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>