<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label for="c-title" class="control-label col-xs-12 col-sm-2">{:__('Title')}:</label>
        <div class="col-xs-12 col-sm-4">
            <input id="c-title" data-rule="required" class="form-control" name="row[title]" type="text" value="{$row.title}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-coupon_price" class="control-label col-xs-12 col-sm-2">{:__('Coupon_price')}:</label>
        <div class="col-xs-12 col-sm-4">
            <input id="c-coupon_price" data-rule="required" class="form-control" name="row[coupon_price]" type="text" value="{$row.coupon_price}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-condition" class="control-label col-xs-12 col-sm-2">{:__('Condition')}:</label>
        <div class="col-xs-12 col-sm-4">
            <input id="c-condition" data-rule="required" class="form-control" name="row[condition]" type="text" value="{$row.condition}">
        </div>
    </div>

    <div class="form-group">
        <label for="c-number" class="control-label col-xs-12 col-sm-2">{:__('Number')}:</label>
        <div class="col-xs-12 col-sm-4">
            <input id="c-number" data-rule="" class="form-control" name="row[number]" type="text" value="{$row.number}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-receive_number" class="control-label col-xs-12 col-sm-2">{:__('Receive_number')}:</label>
        <div class="col-xs-12 col-sm-4">
            <input id="c-receive_number" data-rule="" class="form-control" name="row[receive_number]" type="text" value="{$row.receive_number}">
        </div>
    </div>

    <div class="form-group">
        <label for="c-complete_number" class="control-label col-xs-12 col-sm-2">{:__('Complete_number')}:</label>
        <div class="col-xs-12 col-sm-4">
            <input id="c-complete_number" data-rule="required" class="form-control" name="row[complete_number]" type="number" value="{$row.complete_number}">
        </div>
    </div>

    <div class="form-group">
        <label for="c-starttime" class="control-label col-xs-12 col-sm-2">{:__('Start_time')}:</label>
        <div class="col-xs-12 col-sm-4">
            <input id="c-starttime" data-rule="required" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[starttime]" type="text" value="{$row.starttime|datetime}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-endtime" class="control-label col-xs-12 col-sm-2">{:__('End_time')}:</label>
        <div class="col-xs-12 col-sm-4">
            <input id="c-endtime" data-rule="required" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[endtime]" type="text" value="{$row.endtime|datetime}">
        </div>
    </div>

    <div class="form-group">
        <label for="c-createtime" class="control-label col-xs-12 col-sm-2">{:__('Create_time')}:</label>
        <div class="col-xs-12 col-sm-4">
            <input id="c-createtime" data-rule="required" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[createtime]" type="text" value="{$row.createtime|datetime}">
        </div>
    </div>
    <div class="form-group">
        <label for="content" class="control-label col-xs-12 col-sm-2">{:__('Status')}:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_radios('row[status]', ['normal'=>__('Normal'), 'hidden'=>__('Hidden')], $row['status'])}
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
