<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Uid')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-uid" readonly="readonly" data-rule="required" class="form-control" name="row[uid]"
                   type="number" value="{$row.uid|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Username')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-username" readonly="readonly" class="form-control" name="row[username]" type="text"
                   value="{$row.user_name}">
        </div>
    </div>
<!--    <div class="form-group">-->
<!--        <label class="control-label col-xs-12 col-sm-2">{:__('Head')}:</label>-->
<!--        <div class="col-xs-12 col-sm-8">-->
<!--            <div class="input-group">-->
<!--                <input id="c-head" readonly="readonly" data-rule="required" class="form-control" size="50" name="row[avatar]" type="text" value="{$row.Course['image']|htmlentities}">-->
<!--                <div class="input-group-addon no-border no-padding">-->
<!--                    <span><button type="button" id="plupload-avatar" class="hidden btn btn-danger plupload" data-input-id="c-avatar" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="false" data-preview-id="p-course"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>-->
<!--                    <span><button type="button" id="fachoose-avatar" class="hidden btn btn-primary fachoose" data-input-id="c-avatar" data-mimetype="image/*" data-multiple="false"><i class="fa fa-list"></i> {:__('Choose')}</button></span>-->
<!--                </div>-->
<!--                <span class="msg-box n-right" for="c-avatar"></span>-->
<!--            </div>-->
<!--            <ul class="row list-inline plupload-preview" id="p-course"></ul>-->
<!--        </div>-->
<!--    </div>-->

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Star')}:</label>
        <div class="col-xs-12 col-sm-8">
            {switch name="row.star"}
            {case value="1"}
            <input readonly="readonly" class="form-control" name="row[star]" type="text" value="{:__('GoodComment')}">
            {/case}
            {case value="2"}
            <input readonly="readonly" class="form-control" name="row[star]" type="text" value="{:__('MediumComment')}">
            {/case}
            {case value="3"}
            <input readonly="readonly" class="form-control" name="row[star]" type="text" value="{:__('NegativeComment')}">
            {/case}
            {default /}default
            {/switch}
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Course')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-course_id" readonly="readonly" data-rule="required" data-source="course/index"
                   class="form-control" name="row[course_id]" type="text" value="{$row.course['name']|htmlentities}">
        </div>
    </div>
<!--    <div class="form-group">-->
<!--        <label class="control-label col-xs-12 col-sm-2">{:__('Course_image')}:</label>-->
<!--        <div class="col-xs-12 col-sm-8">-->
<!--            <div class="input-group">-->
<!--                <input id="c-avatar" readonly="readonly" data-rule="required" class="form-control" size="50" name="row[avatar]" type="text" value="{$row.Course['image']|htmlentities}">-->
<!--                <div class="input-group-addon no-border no-padding">-->
<!--                    <span><button type="button" id="plupload-avatar" class="hidden btn btn-danger plupload" data-input-id="c-avatar" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="false" data-preview-id="p-course"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>-->
<!--                    <span><button type="button" id="fachoose-avatar" class="hidden btn btn-primary fachoose" data-input-id="c-avatar" data-mimetype="image/*" data-multiple="false"><i class="fa fa-list"></i> {:__('Choose')}</button></span>-->
<!--                </div>-->
<!--                <span class="msg-box n-right" for="c-avatar"></span>-->
<!--            </div>-->
<!--            <ul class="row list-inline plupload-preview" id="p-course"></ul>-->
<!--        </div>-->
<!--    </div>-->

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('content')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-remake" readonly="readonly" class="form-control " rows="5" name="row[remake]" cols="50">{$row.content|htmlentities}</textarea>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Createtime')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-createtime" readonly="readonly" class="form-control" name="row[createtime]" type="text"
                   value="{$row.createtime}">
        </div>
    </div>

    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
    </div>
</form>
